.fst-para {
  width: 461px;
  font-size: 18px;
  line-height: 32.4px;
  margin-top: 30px;
}

.content-btn {
  margin-top: 30px;
  padding: 20px 56px 18px;
  background-color: #e44747 !important;
  width: 343px;
  height: 60px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  color: white !important;
}

.image-part::after {
  content: url("./assets//backgorundbeforetriangles.svg");

  position: absolute;
  bottom: 20%;
  right: -15%;
  display: block;
}
.image-part::before {
  content: url("./assets//backgorundbeforetriangles.svg");
  transform: rotate(-180deg);

  position: absolute;
  height: auto;
  width: fit-content;
  bottom: 35%;
  left: -15%;
}
@media (max-width: 768px) {
  .fst-page-img {
    height: 300px;
    width: 300px;
  }
  .image-part::after {
    bottom: 25%;
    right: 10%;
  }
  .image-part::before {
    left: 10%;
    bottom: 70%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .fst-page-img {
    height: 300px;
    width: 300px;
  }
  .image-part::after {
    bottom: 25%;
    right: 5%;
  }
  .image-part::before {
    left: 10%;
    bottom: 70%;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .image-part::after {
    bottom: 25%;
    right: 0%;
  }
  .image-part::before {
    left: -15%;
    bottom: 50%;
  }
}
@media (min-width: 1200px) {
  .image-part::after {
    bottom: 20%;
    right: -15%;
  }
  .image-part::before {
    bottom: 35%;
    left: -15%;
  }
}
