.fst-para {
  width: 461px;
  font-size: 18px;
  line-height: 32.4px;
  margin-top: 30px;
}

.content-btn {
  margin-top: 30px;
  padding: 20px 56px 18px;
  background-color: #e44747;
  width: 343px;
  height: 60px;
  border-radius: 10%;
  font-size: 18px;
  font-weight: 600;
  color: white;
}
