.fst-para {
  width: 461px;
  font-size: 18px;
  line-height: 32.4px;
  margin-top: 30px;
}

.content-btn {
  margin-top: 30px;
  padding: 20px 56px 18px;
  background-color: #e44747;
  width: 343px;
  height: 60px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  color: white;
}
.image-part::after {
  content: url("./assets//backgorundbeforetriangles.svg");

  width: 211px;
  height: 199px;
  position: absolute;
  bottom: 20%;
  right: 0;
  display: block;
}
.image-part::before {
  content: url("./assets//backgorundbeforetriangles.svg");
  transform: rotate(-180deg);

  position: absolute;
  bottom: 20%;
  left: -10%;
}
